/*Approach*/

#approach {
  background-image: url("/img/bg-cloud-4.svg"), url("/img/bg-cloud-4-top.svg");
  background-position: 0 -75%, 395px 100%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 100px 0 0;
  margin: -140px 0 60px 0;
}

.page-title {margin-bottom: 25px;}

.page-subtitle {line-height: 1.6;}

.approach-container {
    margin: 0 auto 80px;
    padding: 0;
    max-width: 1256px;
}

.approach-main-content-wrapper {
  margin: 0 auto;
  width: 100%;
  background-image: url("/assets/svg/arrow short red.svg"), url("/assets/svg/arrow short red.svg"), 
  url("/assets/svg/arrow long red.svg"), url("/assets/svg/arrow short red.svg"), 
  url("/assets/svg/arrow short red.svg"), url("/assets/svg/arrow long red 2.svg"), 
  url("/assets/svg/arrow_scrum_1440.svg");
  background-repeat: no-repeat;
  background-position: 217px 290px, 217px 620px, 300px 930px, 437px 1280px, 
  437px 1610px, 300px 1920px, 0px 1150px;
}

.approach-main-step-item {
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
  display: flex;
  align-items: center;
}

.approach_img_step-pos {
  right: 0!important;
  width: 275px;
  max-height: 330px;
}

.approach-main-step-text {
  padding: 0 0 0 50px ;
  max-width: 748px;
  font-size: 20px;
  line-height: 1.6;
  color: #232323;
  box-sizing: content-box;
}

.approach-step-sub_title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #ef1c3b;
}

.approach-main-step-title {
  margin-bottom: 15px;
  font-size: 48px;
  line-height: 0.75;
  color: #0497f4;
}



.approach-main-step-item:nth-child(1n+4) {
   margin: 0;
   max-width: 860px;
   left: 308px;
}

.approach-main-step-item:nth-child(7) {
  margin: 0 auto;
  max-width: 1080px;
  left: 0px;
}

.approach-main-step-text-short {
    max-width: 528px;
}