/*Approach*/

.page-title {margin-bottom: 25px;}

.page-subtitle {line-height: 1.6;}

.approach-container {
    margin: 0 auto 80px;
    max-width: 1200px;
}

.approach-main-content-wrapper {
  max-width: 1200px;
  width: 100%;
  background-image: url("/assets/svg/arrow short red.svg"), url("/assets/svg/arrow short red.svg"), 
  url("/assets/svg/arrow long red.svg"), url("/assets/svg/arrow short red.svg"), 
  url("/assets/svg/arrow short red.svg"), url("/assets/svg/arrow long red 2.svg"), 
  url("/assets/svg/approach-blue arrow dash.svg");
  background-repeat: no-repeat;
  background-position: 140px 275px, 140px 590px, 220px 885px, 360px 1220px, 
  360px 1535px, 220px 1830px, 0px 1095px;
}

.approach-main-step-item {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.approach_img_step-pos {
  margin-right: 20px;
  left: 20px;
  right: 0!important;
  width: 275px;
  max-height: 315px;
}

.approach-main-step-text {
  padding: 0 55px;
  max-width: 895px;
  font-size: 20px;
  line-height: 1.6;
  color: #232323;
}

.approach-step-sub_title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #ef1c3b;
}

.approach-main-step-title {
  margin-bottom: 15px;
  font-size: 48px;
  line-height: 0.75;
  color: #0497f4;
}

.approach-main-step-item:nth-child(1n+4) {left: 221px;}

.approach-main-step-item:nth-child(7) {left: 0px;}

.rt {
    max-width: 674px;
}